@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  height: 100%; }

body {
  min-height: 100%; }

h1, h2, h3 {
  font-family: "Playfair Display", serif; }

li, p {
  font-family: "Raleway", sans-serif; }

ul {
  list-style: none; }

.text-center {
  text-align: center; }

.container {
  width: 1175px;
  margin: 0 auto;
  background-image: url("../img/lightpaperfibers.png");
  border: 1px solid #E5E5E5; }
  .container h2 {
    text-align: center; }
  .container li {
    padding-top: 1em; }

.hero {
  width: 96%;
  height: 600px;
  margin: 0 auto;
  background-image: url("../img/dog_mnt_flower.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 100px;
  -webkit-box-shadow: 2x 2px 2px 0px #858585;
  -moz-box-shadow: 2px 2px 2px 0px #858585;
  box-shadow: 2px 2px 2px 0px #858585; }
  .hero h1 {
    padding-top: 250px; }
  .hero .hero-text {
    padding-right: 9em;
    text-align: right;
    color: #FFFAFA;
    text-shadow: 1px 1px 4px black; }
    .hero .hero-text h2 {
      text-align: right; }

img {
  width: 100%; }

hr {
  width: 60%;
  margin-bottom: 5em;
  color: #808080; }

.outer {
  margin-bottom: 6em;
  padding-right: 1em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .outer::after {
    clear: both;
    content: "";
    display: block; }

.six-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .six-col:last-child {
    margin-right: 0; }
  .six-col .list-header {
    padding-left: 40px; }

.eight-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .eight-col:last-child {
    margin-right: 0; }

.four-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .four-col:last-child {
    margin-right: 0; }

.schedule {
  text-align: center; }
  .schedule .list-header {
    padding-left: 40px; }

.map {
  border: 1px solid #808080;
  width: 703px;
  margin: 0 auto; }

.info {
  width: 705px;
  margin: 0 auto; }

.hotel-link {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600; }
  .hotel-link:hover {
    font-style: italic; }

.tagline {
  font-size: 1.1em;
  line-height: 0.5; }

.details {
  font-size: 0.8em; }

.nav-wrapper {
  background-color: white;
  box-shadow: 0 0 4px 0 #a6a6a6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em; }
  .nav-wrapper .navigation {
    width: 1175px;
    font-weight: 600;
    margin: 0 auto; }
    .nav-wrapper .navigation .logo {
      float: left;
      margin: 9px 0 0 40px;
      color: black;
      text-decoration: none; }
    .nav-wrapper .navigation #countdown-holder {
      float: left;
      margin-left: 1em;
      color: #808080;
      font-size: 0.85em; }
    .nav-wrapper .navigation ul {
      float: right; }
      .nav-wrapper .navigation ul li {
        display: inline;
        margin-right: 1em; }
        .nav-wrapper .navigation ul li:hover {
          font-style: italic; }
        .nav-wrapper .navigation ul li a {
          color: black;
          text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
