h1,h2,h3 {
  font-family:$playfair;
}

li,p {
  font-family:$raleway;
}

ul {
  list-style:none;
}

.text-center {
  text-align:center;
}

.hero {
  width: 100%;
  height: 100vh;
  text-align: center;
  h1 {
    padding-top: 300px;
  }
}
.container {
  width: $desktop;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  li {
    padding-top:1em;
  }
}

img {
  width: 100%;
}

hr {
  width: 60%;
  margin-bottom: 5em;
  color: $darkGray;
}

.outer {
  margin-bottom: 6em;
  @include outer-container;
}

.six-col {
  @include span-columns(6);
  .list-header {
    padding-left: 40px;
  }
}

.eight-col {
  @include span-columns(8);
}

.four-col {
  @include span-columns(4);
}

.schedule {
  text-align: center;
}
