html {
  height: 100%;
}

body {
  min-height: 100%;
  // background-color: $grayBlue;
  background-image: url($parchment);
}

h1,h2,h3 {
  font-family:$amatic;
  font-weight: 700;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

li,p {
  font-family:$openSans;
  font-size: 20px;
}

ul {
  list-style:none;
}

.text-center {
  text-align:center;
}

.container {
  width: $desktop;
  margin: 0 auto;
  background-image: url($ricepaper);

  border: 1px solid $darkGray;

  h2 {
    text-align: center;
  }
  li {
    padding-top:1em;
  }
}

.hero {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 100px;

  background-image: url('../img/dog_mnt_flower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  -webkit-box-shadow: 2x 2px 2px 0px rgba(133,133,133,1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(133,133,133,1);
  box-shadow: 0px 2px 2px 0px $offBlack;

  h1 {
    padding-top: 250px;
  }

  .hero-text {
    padding-right: 9em;
    text-align: right;
    color: $offWhite;
    text-shadow: 1px 1px 4px black;
    h2 {
      text-align: right;
    }
  }
}

img {
  width: 100%;
}

hr {
  width: 60%;
  margin-bottom: 5em;
  color: $darkGray;
  display: none;
}

.outer {
  margin-bottom: 6em;
  padding-right: 1em;
  @include outer-container;
}

.six-col {
  @include span-columns(6);
  .list-header {
    padding-left: 40px;
  }
}

.eight-col {
  @include span-columns(8);
}

.four-col {
  @include span-columns(4);
}

.schedule {
  text-align: center;
  .list-header{
    //  padding-left: 40px;
  }
  ul {
    padding-right: 40px;
  }
}

.map {
  border: 1px solid $darkGray;
  width: 703px;
  margin: 0 auto;
}

.info {
  width: 705px;
  margin: 0 auto;
}

.hotel-link {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  &:hover {
    font-style: italic;
  }
}

.tagline {
  font-size: 1.1em;
  line-height: 1.1;
}

.details {
  font-size: 0.8em;
}

// Styles for the nav
.nav-wrapper {
  background-image: url($ricepaper);
  box-shadow: 0 0 4px 0 $offBlack;
  position: fixed;
  top:0;
  width: 100%;
  height: 3em;

  .navigation {
    width: 1175px;
    font-weight: 600;
    margin: 0 auto;

    .logo {
      font-family: $openSans;
      float: left;
      margin: 0 0 0 40px;
      color: black;
      text-decoration: none;
    }

    #countdown-holder {
      float: left;
      margin-left: 1em;
      color: $offBlack;
      font-size: 1em;
    }

    ul {
      float: right;
      li {
        display: inline;
        margin-right: 1em;
        &:hover {
          font-style: italic;
        }
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

.registry {
  li {
    font-size: 22px;
    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      &:hover {
        font-style: italic;
      }
    }
  }
  .honey {
    text-align: right;
  }
}

.kiss {
  width: 55%;
  img {
    width: 100%;
    margin: 0 auto;
    border: 8px solid $offWhite;
  }
}
