//Fonts
$playfair:  'Playfair Display', serif;
$raleway:   'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;

//Widths
$desktop: 1175px;

//Colors
$darkGray:  #808080;
$gray:      #a6a6a6;
$lightGray: #E5E5E5;
$offwhite:  #FFFAFA;
$lightBlue: #6699CC;
$grayBlue:  #a9bed7;
$offBlack:  #3b3b3b;

//Background Patterns
$paperfiber:  '../img/lightpaperfibers.png';
$ricepaper:   '../img/ricepaper_v3.png';
$parchment:   '../img/parchment.jpg';
